.marker-color-lime {
  color: rgb(163 230 53 / 100%);
  border-color: rgb(163 230 53 / 100%);
  background-color: rgb(163 230 53 / 50%);
}

.marker-color-blue {
  color: rgb(59 130 246 / 100%);
  border-color: rgb(59 130 246 / 100%);
  background-color: rgb(59 130 246 / 50%);
}

.marker-color-red {
  color: rgb(239 68 68 / 100%);
  border-color: rgb(239 68 68 / 100%);
  background-color: rgb(239 68 68 / 50%);
}
